# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE settings
.vscode/
pyrightconfig.json
pyproject.toml

# C extensions
*.c
*.o
*.so

# Environment
.env
.venv
env/
venv/
ENV/

# Django
*.log
local_settings.py
django_app/settings/local.py
db.sqlite3
db.sqlite3-journal
media/
static/

# VS Code
.vscode/

# macOS
.DS_Store

# 기타
*.log

# PlantUML
plantuml.jar
*.png